{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'alidns/style.css' %}" />

{% if domain_list %}
    {% for p in domain_list %}
        <table>
            <caption> Domain List </caption>
            <thead>
                <tr>
                  <th> Title </th>
                  <th> Alive</th>
                  <th> DNS Server </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td><a href="/">{{ p.DomainName }}</a><td>
                  <td>Alive</td>
                  <td><a href="/">{{ p.DnsServers.DnsServer }}</a></td>
                </tr>
                <tr class="odd">
                  <td><a href="/">{{ p.DomainName }}</a><td>
                  <td>Alive</td>
                  <td><a href="/">{{ p.DnsServers.DnsServer }}</a></td>
                </tr>

            </tbody>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
